<!doctype html>
<html lang="pt-br">
<head>{% include 'header.html'%}
</head>
<body>
	{% include 'menu.html'%}

	<section id="errointerno">
		<div class="container">

			<div class="row">
				<div class="span12 centered">
					<h2>Desculpa</h2>
					<div class="breaker">
						<span class="left"></span>
						<div class="feather"></div>
						<span class="right"></span>
					</div>
				</div>
				<div class="row">
					<div class="span12 centered">

						<img alt="Erro" src="img/errointerno.png">
						<p>Um erro interno ocorreu. Tente novamente e se o erro
							persistir entre em contato conosco. Obrigado!</p>

						<br />
						<br />
						<br />
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- FOOTER  -->
	{% include 'footer.html'%}
	<!-- END FOOTER -->
</body>
</html>