<!doctype html>
<html lang="pt-br">
<head>{% include 'header.html'%}
</head>
<body>
	<!-- NAVIGATION  -->
	{% include 'menu.html'%}
	<!-- END NAVIGATION  -->
	<h1 align="center">Inscrição de participante</h1>
	<div class="container">
		<div class="row">
			<div class="span6">
				<form id="inscricaoParticipanteForm"
					name="inscricaoParticipanteForm" action="/inscricaoParticipante"
					method="post">
					<p align="justify">Campos com * são obrigatórios</p>
					<fieldset>
						<legend>Informações pessoais</legend>
						<label>Nome *:</label>
						<input id="nome" name="nome" type="text" />
						<label>Data de nascimento *:</label>
						<input id="dataNascimento" name="dataNascimento" type="text" />
						<label>Identidade *:</label>
						<input id="identidade" name="identidade" type="text" />
						<label>Sexo *:</label>
						<label>
							<input type="radio" name="sexo" id=sexoM value="M">
							Masculino
						</label>
						<label>
							<input type="radio" name="sexo" id="sexoF" value="F">
							Feminino
						</label>
						<br />
						<legend>Endereço</legend>
						<label>Logradouro *:</label>
						<input id="logradouro" name="logradouro" type="text" />
						<label>Complemento:</label>
						<input id="complemento" name="complemento" type="text" />
						<label>Cidade *:</label>
						<input id="cidade" name="cidade" type="text" />
						<label>Bairro *</label>
						<input id="bairro" name="bairro" type="text" />
						<label>UF *:</label>
						<select id="uf" name="uf">
							<option value="RJ">Rio de Janeiro</option>
						</select>
						<legend>Contato</legend>
						<label>Celular 1 *:</label>
						<input id="telCelular1" name="telCelular1"
							placeholder="(xx) xxxxx-xxxx" type="text" />
						<label>Celular 2:</label>
						<input id="telCelular2" name="telCelular2"
							placeholder="(xx) xxxxx-xxxx" type="text" />
						<label>Telefone residencial:</label>
						<input id="telResidencial" name="telResidencial"
							placeholder="(xx) xxxx-xxxx" type="text" />
						<label>E-mail *:</label>
						<input id="email" name="email" type="text" />
						<legend>Saúde</legend>
						<label>Alergias:</label>
						<input id="alergias" name="alergias" type="text" />
						<label>Medicamentos:</label>
						<input id="medicamentos" name="medicamentos" type="text" />
						<legend>Contato em caso de emergência</legend>
						<label>Nome *:</label>
						<input id="nomeContato" name="nomeContato" type="text" />
						<label>Celular 1 *:</label>
						<input id="telCelular1Contato" name="telCelular1Contato"
							placeholder="(xx) xxxxx-xxxx" type="text" />
						<label>Celular 2:</label>
						<input id="telCelular2Contato" name="telCelular2Contato"
							placeholder="(xx) xxxxx-xxxx" type="text" />
						<label>Telefone residencial:</label>
						<input id="telResidencialContato" name="telResidencialContato"
							placeholder="(xx) xxxx-xxxx" type="text" />
						<label>Telefone comercial:</label>
						<input id="telComercialContato" name="telComercialContato"
							placeholder="(xx) xxxx-xxxx" type="text" />
						<legend>Como ficou sabendo do Acamp's?</legend>
						<input name=ficouSabendo type="checkbox" value="Halleluya">
						No Halleluya
						<br />
						<input name=ficouSabendo type="checkbox" value="Radicalidade">
						Radicalidade
						<br />
						<input name=ficouSabendo type="checkbox" value="Shalom">
						Na Comunidade Católica Shalom
						<br />
						<input name=ficouSabendo type="checkbox" value="Amigos(as)">
						Por amigos(as)
						<br />
						<input name=ficouSabendo type="checkbox" value="Google">
						No Google
						<br />
						<input name=ficouSabendo type="checkbox" value="Facebook">
						No Facebook
						<br />
						<input name=ficouSabendo type="checkbox" value="Twitter">
						No Twitter
						<br />
						<br />
						<legend>Termo de Compromisso</legend>
						<label>
							<a class="fancybox-media fancybox.iframe"
								href="/termoCompromisso">Ler contrato</a>
						</label>
						<label>Você concorda com todos os termos citados no
							contrato?</label>
						<input id="termoCompromisso" name="termoCompromisso"
							type="checkbox" value="S">
						Li e concordo com todos os termos do Contrato. *
						<br />
						<br />
						<p align="justify">O valor da inscrição do Acamp's Rio 2014 é
							R$ 225,00. Este valor pode ser pago nas seguintes formas:</p>
						<ul>
							<li>Dinheiro/Cheque - Diretamente na Comunidade Católica
								Shalom</li>
							<li>
								Depósito -
								<b>Banco:</b>
								Caixa Econômica Federal
								<b>Agência:</b>
								1343
								<b>Operação:</b>
								003
								<b>Conta Corrente:</b>
								1147-1
							</li>
							<li>Pagseguro em até 10 vezes no cartão (R$ 225,00 + R$
								11,25 de taxa Pagseguro totalizando R$ 236,25)</li>
						</ul>
						<br />
						<button name="send" type="submit" class="button">Enviar</button>
					</fieldset>
				</form>
			</div>
		</div>
	</div>
	<!-- FOOTER  -->
	{% include 'footer.html'%}
	<!-- END FOOTER -->
</body>
</html>